POSTGRES_USER=hydra
POSTGRES_PASSWORD=secret
POSTGRES_DB=hydra
HYDRA_SECRETS_SYSTEM=a-very-secret-key-that-must-be-at-least-32-chars
PORT=8080
HYDRA_ADMIN_URL=http://hydra:4445
HYDRA_PUBLIC_URL=http://hydra:4444
